@tailwind base;
@tailwind components;
@tailwind utilities;

.rootimage {
    /* min-height: 100%; */
    width: 100%;
    background-image: url('/back.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    font-family: "PIXEL CRAFT";
    color: transparent;
    background: linear-gradient(180deg, #b11d18 65%, #862227 65% 100%);
    background-clip: text;
    filter: drop-shadow(3px 3px 0 #000000);
    font-size: 60px;
}

.title-upper {
    font-family: "PIXEL CRAFT";
    color: transparent;
    background: linear-gradient(180deg, #b11d18 65%, #862227 65% 100%);
    background-clip: text;
    filter: drop-shadow(1px 1px 0 #000000);
    font-size: 30px;
}

.font-console {
    font-family: BrokenConsole-Bold, Helvetica, sans-serif;
}

.input-bar {
    width: 250px;
    margin: 20px auto;
    height: 54px;
    text-align: center;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
}


.gen {
    width: 100%;
    margin: 0 auto;
    height: 48px;
    text-align: center;
    border: 8px solid #000000;
    line-height: 32px;
    box-sizing: border-box;
    position: relative;
}

.gen span {
    position: relative;
    z-index: 99;
}

.progress-bar {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0px;
    background-color: #B11D18;
    left: 0px;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-red {
    color: rgba(177, 29, 24, 1);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.max-w-screen-lg {
    max-width: 1024px;
}

table {
    width: 100%;
    text-align: left;
    border: 3px solid #24d336;
    border-collapse: collapse;
    text-indent: 0;
    border-color: inherit;
}

.border-red {
    --tw-border-opacity: 1;
    border-color: rgba(177,29,24,var(--tw-border-opacity));
}

.wood-mask {
    width: 120%;
    height: 120%;
    top: -20px;
    left: -20px;
    opacity: 0.04;
    background-image: url('/wood-mask.svg');
    background-repeat: repeat;
    background-size: 400px 268px;
}
